@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Karma</h1>
    <p>Where old and unused things find a new home</p>
</div>
