@page
@model NotFoundModel
@{
    ViewData["Title"] = "Home page";
}

<h1>The item you are looking for cannot be found</h1>
<a asp-page="/Submits" class="btn btn-primary">
Click here to go back to Submits
</a>