@page
@model Karma.Pages.SubmitModel
@{
    ViewData["Title"] = "Submit Items";
}

<h1>@ViewData["Title"]</h1>

<form method="post">

    <div class="mb-3">
        <label class="form-label">Item name</label>
        <input type="text" class="form-control" asp-for="Item.Title">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea type="text" class="form-control" rows="3" asp-for="Item.Description"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Your name</label>
        <input type="text" class="form-control" asp-for="Item.BuyerName">
    </div>
    <div class="mb-3">
        <label class="form-label">City</label>
        <input type="text" class="form-control" asp-for="Item.City">
    </div>
    <div class="mb-3">
        <label class="form-label">Phone number</label>
        <input type="text" class="form-control" asp-for="Item.PhoneNumber">
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Picture</label>
        <input class="form-control" type="file" asp-for="Item.Picture">
    </div>

    <button type="submit" class="btn btn-primary">Request</button>


</form>

