@page
@model Karma.Areas.Identity.Pages.Account.InboxModel
@{
}

@if (Model.Inbox.Count != 0)
{
    foreach(var message in Model.Inbox)
    {
        <div class="card message-card mt-2 rounded-0">
            <div class="card-header card-header-custom">
                <p class="m-0 text-muted">From @message.FromEmail</p>
            </div>
            <div class="card-body">
                @message.Content
            </div>
        </div>
    }
}else{
    <h1>No messages</h1>
}
